{% extends 'client/base.html' %}

{% block content %}

<div class="row">
    {% for object in object_list %}
    <div class="col-md-6">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{{ object.client_name }}</h5>
                <p class="card-text">email: {{ object.client_email }}</p>
                <p class="card-text">комментарии: {{ object.client_comments }}</p>
                <p class="card-text">Владелец: {{ object.client_owner }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="{%  url 'client:detail' object.pk  %}" >Подробнее</a>
                    <small class="text-muted">{{ object.comment }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}