{% extends 'client/base.html' %}

{% block content %}
<div class="col-12">
                            <h1 class="card-title">Удаление отчета</h1>

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить отчет {{object.name}}</p>

                    <button type="submit" class="btn btn-success">Подтвердить</button>
                    <a href="{% url 'client:log_list' %}"  class="btn btn-sm btn-outline-secondary">Отмена</a>

                </form>
            </div>
        </div>
    </div>
    <div>
</div>
{% endblock %}