{% extends 'client/base.html' %}

{% block content %}
    <h4>Список отчетов</h4>
    <div class="col-12 mb-5">
<ul>
    </div>

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-12">
            <div class="card mb-9 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Клиент {{ object.client }}</h5>
                    <p class="card-text">Настройка: {{ object.settings }}</p>
                    <p class="card-text">Статус: {{ object.status }}</p>
                    <p class="card-text">Владелец: {{ object.last_try }}</p>

                    <div class="d-flex justify-content-between align-items-lg-start">


                        <a href="{% url 'client:log_delete' object.pk %}" class="btn btn-sm btn-outline-primary">Удалить</a>
                        <small class="text-muted">{{ object.comment }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul>
{% endblock %}