{% extends 'client/base.html' %}

{% block content %}
    <div class="col-12">
        <a href="{% url 'client:message_create' %}" class="btn btn-primary">Добавить новое письмо</a>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Тема</th>
            <th scope="col">Содержание</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            {% for message in message_list %}

                {% include 'client/includes/inc_message_card.html' %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
    <div class="col-12">
        <a href="{% url 'client:client_list' %}" class="btn btn-primary"> Назад</a>
    </div>
{% endblock %}