{% extends 'client/base.html' %}

{% block content %}
    <h4>Список рассылок</h4>
        <div class="col-md-12">

    <ul>
        {% if user.is_authenticated %}
            <div class="col-12 mb-5">
                <a class="btn btn-warning" href="{% url 'client:message_create' %}">Добавить рассылку</a>
            </div>
        {% endif %}
        {% for mailing in mailings %}

            <li><a href="{% url 'client:message_detail' message.pk %}">{{ mailing.start_time }}
                - {{ mailing.end_time }}  </a>
                {% if mailing.owner.email == user.email or 'Managers' in user_group_names %}
                    <a class="btn btn-outline-primary" href="{% url 'client:message_confirm_delete' message.pk %}">Удалить</a>
                    <a class="btn btn-outline-primary" href="{% url 'client:message_update' message.pk %}">Редактировать</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}