{% extends 'client/base.html' %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                Меню сервиса рассылки
            </div>
            <div class="card-body">
                <a class="p-2 btn btn-link" href="{% url 'client:client_list' %}">Клиенты</a>
            </div>
            <div class="card-body">
                <a class="p-2 btn btn-link" href="{% url 'client:message_list' %}">Рассылки</a>
            </div>
            <div class="card-body">
                <a class="p-2 btn btn-link" href="#">Отчёты</a>
            </div>
            <div class="card-footer">
                <a href="{% url 'client:client_list' %}" class="btn btn-primary"><< Назад</a>
            </div>
        </div>
    </div>

{% endblock %}