{% extends 'client/base.html' %}
{% block content %}
    <form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                <p> Удалить рассылку {{ object.subject }} ?</p>
                <button type="submit" class="btn-outline-danger">
                    Удалить
                </button>
                <a class="btn-outline-warning" href="{% url 'client:message_list' %}">Отмена</a>
            </div>
        </div>
    </div>
{% endblock %}