{% extends 'client/base.html' %}

{% block content %}
    <h4>Список рассылок</h4>
    <div class="col-12 mb-5">
<ul>
        <a class="btn btn-warning" href="{%  url 'client:message_create' %}">Добавить рассылку</a>
    </div>

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-12">
            <div class="card mb-9 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Владелец {{ object.owner }}</h5>
                    <p class="card-text">Клиент: {{ object.client }}</p>
                    <p class="card-text">Тема: {{ object.theme }}</p>

                    <div class="d-flex justify-content-between align-items-lg-start">
                        <a href="{%  url 'client:message_view' object.pk %}"
                           class="btn btn-sm btn-outline-primary">Подробнее</a>
                        <a href="{% url 'client:message_update' object.pk %}"
                           class="btn btn-sm btn-outline-primary">Редактировать</a>
                        <a href="{% url 'client:message_delete' object.pk %}" class="btn btn-sm btn-outline-primary">Удалить</a>
                        <small class="text-muted">{{ object.comment }}</small>
                    </div>
                </div>
            </div>
        </div>
 <br>
        {% endfor %}
    </div>
    <ul>
{% endblock %}