{% extends 'client/base.html' %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <input type="submit" class="btn btn-success" value="{% if message %}Сохранить{% else %}Создать{% endif %}">
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'client:message_menu' %}" class="btn btn-primary"> Назад</a>
            </div>
        </div>
    </div>
{% endblock %}